@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

.navbar {
  display: flex;
  background-color: white;
  font-family: "Vast Shadow", cursive;
  justify-content: space-evenly;
  align-items: center;
}
