{% load static %} {% include "nav.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Document</title>
    <h1 id="pricing_header">Pricing</h1>
  </head>
  <body>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Work</th>
          <th scope="col"></th>
          <th scope="col"></th>

          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">work</th>
          <td>...</td>
          <td>...</td>

          <td>price</td>
        </tr>
        <tr>
          <th scope="row">work</th>
          <td>...</td>
          <td>...</td>
          <td>price</td>
        </tr>
        <tr>
          <th scope="row">work</th>
          <td>...</td>
          <td>...</td>
          <td>price</td>
        </tr>
      </tbody>
    </table>
  </body>
  <footer class="pricing_footer">
    <img src="{% static 'img/face.png' %}" alt="facebook logo" class="social" />
    <a href="https://www.instagram.com/monolithbikes/"
      ><img src="{% static 'img/insta.png' %}" alt="instagram logo" class="social" />
    </a>
  </footer>
</html>
